@CHARSET "UTF-8";
@import url(reset.css);
header {
    width: 100%;
    height: 200px; 
    position: relative;
    z-index: 20;       /* 헤더가 바디보다 약간 3차원 처럼 떠 있는 효과  */ /*  =무슨 일이 있어도 헤더는 보인다.  */
    overflow: hidden;   /*  위드, 하이트 값에 넘치는 이미지를 넣는 경우라도 잘리게 끔 처리 */
    background-color: #fcc
}
footer {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    background-color: #CCF
}
nav ul {
    list-style:none;
    float:right;
}
 
nav ul li {
    float:left;
    margin:0 20px;
}
